{{extend 'layout.html'}}

<br><br>
{{=link}}
<div id="frm"></div>
<br><br>
{{=LOAD('ajax', 'processor.load', target='list')}}
<!-- 
<script type="text/javascript">
/*
$(document).ready(function(){
	//$('#list').load("{{=URL('processor')}}");
	var url = "{{=URL('processor')}}";
	var list = $('#list');
	
	drReload(list, url);
	
	$('#afrm').click(function() {
		//alert("{{=URL('form')}}");
		$('#frm').load("{{=URL('form')}}");
	});
	
	$(document).on('submit', '#myform', function() {
		ajax(url, ['name'], 'list');
		$('#frm').load("{{=URL('form')}}");
		return false;
	});
});

function drReload(sel, url) {
	sel.load(url);
}*/
</script> -->